.imgHomeCard {
  width: 50%;
  height: 30%;
  border-radius: 20px;
}

.cardContainer {
  width: 70%;
  padding-bottom: 20px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7cd7cf;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  max-width: 900px;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  color: #005f73;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 2px solid #005f73;
  display: inline-block;
  padding-bottom: 5px;
}
