.turn {
  display: flex;
  align-items: stretch; /* Asegura altura uniforme entre hijos */
  justify-content: space-between;
  background-color: #7cd7cf;
  border: 1px solid #0c6366;
  border-radius: 16px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.2s, box-shadow 0.2s;
  min-height: 130px; /* Puedes ajustar según necesidad */
}

.turn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.icon {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.turnData {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center; /* Centra verticalmente los textos */
}

.text,
.textAvailable {
  font-size: 18px;
  color: #19393f;
  margin-bottom: 5px;
  min-height: 24px; /* Reserva espacio incluso si el texto está invisible */
}

.textAvailable {
  color: #1eb352;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button {
  padding: 8px 12px;
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #023c48;
}
