.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.selector {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
}

.turnsList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.noTurns {
  text-align: center;
}

.title {
  font-size: 28px;
  color: #005f73;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 2px solid #005f73;
  padding-bottom: 5px;
  display: inline-block;
}

p {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 10px;
}
